html,
body {
  min-height: 100%;
  margin: 0;
}

.timetravel-footer {
  height: 300px;
}

.timetravel-footer .state-list-holder {
  max-height: 80%;
  overflow-y: scroll;
}

.timetravel-footer .state-list-holder ul>li {
  border-bottom: 1px solid black;
  padding: 10px;
  margin: 2px 0;
  color: black;
  background-color: white;
}

.timetravel-footer .component-id-li {
  font-weight: bold;
}

.timetravel-footer .state-list-holder ul>li:hover {
  color: white;
  background-color: rgb(142, 150, 99);
  cursor: pointer;
}
.time-travel-header {
  color: white;
  border: 1px solid #e0dacf;
  height: 45px;
  line-height: 40px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.f-b-toolbar {
  border: 1px solid #e0dacf;
  height: 31px;
  font-size: 12px;
}

.f-b-pills {
  font-size: 12px;
  border: 1px solid #e0dacf;
  margin-bottom: 0;
}

.f-b-pills .active {
  background-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
  border-bottom: 2px solid #0d0d17 !important;
  border-radius: 0;
}
.f-b-pills .nav-item a {
  padding-bottom: 0;
}
.f-b-padding-0 {
  padding: 0;
}
.f-b-padding-10 {
  padding: 10px;
}
.f-b-padding-sides-20 {
  padding: 0 20px;
}
.f-b-timetravel-box {
  height: 30vh;
  overflow: scroll;
  font-size: 12px;
}

#component-view-parent {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#jstree_demo_div {
  overflow: scroll;
  padding-bottom: 20px;
}
.tab-content {
  overflow: scroll;
  padding-bottom: 20px;
}
.component-id-li {
  font-weight: bold;
}